{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Inscription</h1>
<div class="card ml-5 my-5 pt-3 px-3 border border-dark">
<div class="card-body">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.avatar) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.description) }}
        {{ form_row(registrationForm.companyname) }}
        {{ form_row(registrationForm.birthdate) }}
        {{ form_row(registrationForm.phonenumber) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <button class="btn">Envoyer</button>
</div>
</div>
        
    {{ form_end(registrationForm) }}
{% endblock %}