{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur O'Stan !
{% endblock %}

{% block content %}
<style>
        .content {
            margin: 1em 10em;
            width: 55%;

        }
</style>
<section class="section-post">

    <h1 class="text-center">Découvrez nos derniers articles !</h1>    

    {# Boucle pour afficher la liste des articles de conseils qui sont en BDD #}
    {% for advice_post in advicelistPosts %}
        {# Le if vérifie qu'il s'agit bien d'article à afficher uniquement #}
        {% if advice_post.type == "Article" %}
            <article class="animated slideInUp">
                <h2 class="title-card">{{ advice_post.title }}</h2>
                <div
                    class="d-flex">

                    <div class="container1 mr-2">
                    {# Picture 1 de préférence #}
                    <img src="{{ asset(picture_upload_path ~ (advice_post.picture1 ?: 'marvel.jpg')) }}" class="img-fluid image-galerie" style="max-width:100%"  alt="image d'article">
                    </div>

                    <div class="">
                        <div>
                            <p>
                                {# truncate permet de réduire la taille du contenu du contenu de l'article et ajouter "..." après #}
                                {{ advice_post.description|truncate(200, true)|raw }}
                            </p>
                        </div>

                        <div>
                            <a href="{{ path('advice_post_show', {'slug': advice_post.slug }) }}" class="btn btn-light">
                                Lire la suite
                            </a>
                        </div>
                    </div>
                </div>

                <div class="date_post">
                    <span>Publié le
                        {{ advice_post.createdAt | date('d/m/Y à H:i') }}</span>
                </div>

            </article>

        {% endif %}
    {% endfor %}
    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(advicelistPosts) }}
    </div>
</section>

{% endblock %}

{% block javascripts %}
{% endblock %}
