{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur O'Stan !
{% endblock %}

{% block content %}


    {# Boucle pour afficher la liste des articles de conseils qui sont en BDD #}
    {% for advice_post in advicelistPosts %}
        {# Le if vérifie qu'il s'agit bien d'article à afficher uniquement #}
        {% if advice_post.type == "Article" %}
            <article class="animated slideInUp">
                <h2 class="title-card">{{ advice_post.title }}</h2>
                <div
                    class="d-flex">

                    {# Picture 1 de préférence #}
                    <img class="mr-3 mb-3" src="https://via.placeholder.com/260x200" alt="">

                    <div class="">
                        <div>
                            <p>
                                {# truncate permet de réduire la taille du contenu du contenu de l'article et ajouter "..." après #}
                                {{ advice_post.description|truncate(200, true) }}
                            </p>
                        </div>

                        <div>
                            <a href="{{ path('advice_post_show', {'slug': advice_post.slug }) }}" class="btn btn-light">
                                Lire la suite
                            </a>
                        </div>
                    </div>
                </div>

                <div class="date_post">
                    <span>Publié le
                        {{ advice_post.createdAt | date('d/m/Y à H:i') }}</span>
                </div>

            </article>

        {% endif %}
    {% endfor %}
    {{ knp_pagination_render(advicelistPosts) }}
{% endblock %}
