{% extends 'base.html.twig' %}

{% block title %} {{ advicePost.title }}{% endblock %}

{% block content %}

    <article class="ml-5 my-5 pt-3 px-3 border border-dark">

        <div class="title-card border border-dark text-center py-2 mx-5">
            <h2 class="font-weight-bold">{{ advicePost.title }}</h2>
        </div>

        <div class="">
            <div>
                <p class="mt-5 px-3">
                        {# truncate permet de réduire la taille du contenu du contenu de l'article et ajouter "..." après #}
                        {{ advicePost.description }}
                </p>
            </div>
        </div>

        <div class ="my-5 d-flex flex-wrap justify-content-around">
            {# Exemple emplacement des images #}

            {# Picture 1 #}
            <img class="mr-3 mb-3" src="https://via.placeholder.com/360x280" alt="">

            {# Picture 2 #}
            <img class="mr-3 mb-3" src="https://via.placeholder.com/360x280" alt="">

            {# Picture 3 #}
            <img class="mr-3 mb-3" src="https://via.placeholder.com/360x280" alt="">
            
        </div>
        
        <div class="metadata mr-3 mb-3 font-italic text-muted d-flex justify-content-end">
            <span>Publié le {{ advicePost.createdAt | date('d/m/Y à H:i') }}</span>
        </div>

    </article>

    <a class="text-dark" href="{{ path('advice_post')}}">Revenir à l'accueil</a>

{% endblock %}