{% extends 'base.html.twig' %}

{% block title %}Messagerie
{% endblock %}

{% block content %}
    <style>
        .content{
            margin: 1em auto;
            max-width: 800px;
            width: 100%;

            }
        
    </style>
  
        <div class="message-user">
            <h1 class="message-title">Messagerie personnelle</h1>
            <div>

                {% for message in messages %}

                    {% if message.user == app.user %}
                        <div class="talk-bubble tri-right round btm-right">
                            <div class="message-content">
                                <a href="{{ path ('showmessage', {'title': message.title }) }}">
                                    <div>
                                        <p>{{message.title}}</p>
                                    </div>
                                </a>
                                <p class="message-author">Message envoyé le
                                    {{message.createdAt|date}}
                                </p>
                            </div>
                        </div>
                    {% elseif message.userReceiver == app.user %}

                        <div class="talk-bubble tri-right round btm-left">
                            <div class="message-content">
                                <a href="{{ path ('showmessage', {'title': message.title })}}">
                                    <div>
                                        <p>{{message.title}}</p>
                                    </div>
                                </a>
                                <p class="message-author">Message envoyé par
                                    {{message.user}}
                                    le
                                    {{message.createdAt|date}}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

                <a class="btn btn-primary" href="{{path ('newmessage') }} "><i class="far fa-envelope"></i> Nouveau message</a>

            </div>
        </div>

        <a class="btn btn-primary btn-msg-back" href="{{path('ad_post') }}">Retour à la page d'accueil</a>
  

{% endblock %}
