<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!
            {% endblock %}
        </title>
        <link
        rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

        <!-- Font Awesome -->
        <link
        rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <!-- Bootstrap core CSS -->
        <link
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/css/mdb.min.css" rel="stylesheet">

        <link rel="stylesheet" href="{{asset('css/style.css')}}">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap" rel="stylesheet">


    </head>
    <body>
        {% block header %}
            <div class="jumbotron">
                
                <div>
                    <img class='logo' src="{{asset('images/logo.svg')}}" alt="">
                </div>
                <div
                    class='nav-connexion'>
                    {# Si je suis authentifié #}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% if is_granted('ROLE_USER_ADMIN') %}
                            <a class="nav-link" href="{{path('backend_adList')}}">Admin</a>
                        {% endif %}
                        <a class="nav-link" href="{{path('message') }}">Messagerie</a>
                        <a class="nav-link" href="{{path('user_show', {'id': app.user.id }) }}">Mon profil</a>
                        <a class="nav-link nav-link-logout" href="{{path('app_logout')}}">Déconnexion</a>
                    {% else %}
                        <a class="nav-link" href="{{path('app_login')}}">Connexion</a>
                        <a class="nav-link" href="{{path('app_register')}}">Inscription</a>
                    {% endif %}
                </div>
            </div>

            <nav class="navbar navbar-expand-lg navbar-dark unique-color navbar_home">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="btn amber lighten-2" href="{{path('advice_post')}}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn amber lighten-2" href="#">Le concept</a>
                        </li>
                        {# Si je suis authentifié #}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="nav-item">
                                <a class="btn amber lighten-2" href="{{path('ad_post')}}">Annonces</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn amber lighten-2" href="{{path('user_list')}}">La communauté</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="btn amber darken-1" href="{{path('contact')}}">Nous contacter</a>
                        </li>
                    </ul>
                </div>
            </nav>
        {% endblock %}

        {% block body %}
            <div class="body">
                {% block sidebar %}
                    <div class="d-none d-lg-block sidebar">

                        <div>
                            <h4 class="title-sidebar">Les actualités</h4>
                            <div class="my-3 mx-3 text-center">
                                <div class="card">
                                    <div class="card-body px-2 py-2">
                                        <h5 class="card-title font-weight-bold">Actualité 1</h5>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, dolores?</p>
                                    </div>
                                </div>
                            </div>

                            <div class="my-3 mx-3 text-center">
                                <div class="card">
                                    <div class="card-body px-2 py-2">
                                        <h5 class="card-title font-weight-bold">Actualité 2</h5>
                                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus, suscipit.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="my-3 mx-3 text-center">
                                <div class="card">
                                    <div class="card-body px-2 py-2">
                                        <h5 class="card-title font-weight-bold">Actualité 3</h5>
                                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus, suscipit.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <h4 class="title-sidebar">Des talents à découvrir !</h4>

                            <ul class="list-unstyled text-center">
                                <li><img src="https://i.pravatar.cc/20?u=a042581f4e29026714d" alt="..." class="rounded-circle">
                                    |
                                    <span>User - Illustrateur et/ou Auteur</span>
                                </li>
                                <li><img src="https://i.pravatar.cc/20?u=a042581f4e29026724d" alt="..." class="rounded-circle">
                                    |
                                    <span>User - Illustrateur et/ou Auteur</span>
                                </li>
                                <li><img src="https://i.pravatar.cc/20?u=a042581f4e29026734d" alt="..." class="rounded-circle">
                                    |
                                    <span>User - Illustrateur et/ou Auteur</span>
                                </li>
                                <li><img src="https://i.pravatar.cc/20?u=a042581f4e29026744d" alt="..." class="rounded-circle">
                                    |
                                    <span>User - Illustrateur et/ou Auteur</span>
                                </li>
                                <li><img src="https://i.pravatar.cc/20?u=a042581f4e29026754d" alt="..." class="rounded-circle">
                                    |
                                    <span>User - Illustrateur et/ou Auteur</span>
                                </li>
                            </ul>
                        </div>

                        <div>
                            <h4 class="title-sidebar">Des éditeurs investis !</h4>

                            <ul class="list-unstyled text-center class=text-center">
                                <li><img src="https://i.pravatar.cc/20?u=a042581f4e29026764d" alt="..." class="rounded-circle">
                                    |
                                    <span>User - Editeur</span>
                                </li>
                                <li><img src="https://i.pravatar.cc/20?u=a042581f4e29026774d" alt="..." class="rounded-circle">
                                    |
                                    <span>User - Editeur</span>
                                </li>
                                <li><img src="https://i.pravatar.cc/20?u=a042581f4e29026784d" alt="..." class="rounded-circle">
                                    |
                                    <span>User - Editeur</span>
                                </li>
                                <li><img src="https://i.pravatar.cc/20?u=a042581f4e29026794d" alt="..." class="rounded-circle">
                                    |
                                    <span>User - Editeur</span>
                                </li>
                                <li><img src="https://i.pravatar.cc/20?u=a042581f4e29026804d" alt="..." class="rounded-circle">
                                    |
                                    <span>User - Editeur</span>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class='content'>
                    {% endblock %}


                    {% block content %}{% endblock %}
                </div>

                {% block search %}{% endblock %}
            </div>
        {% endblock %}

        {% block footer %}
            <footer>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="navbar-collapse justify-content-center" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item mr-5">
                                <a class="nav-link_backend" href="{{path('plan_du_site')}}">Plan du site</a>
                            </li>
                            <li class="nav-item mr-5">
                                <a class="nav-link_backend" href="{{path('mentions_legales')}}">Mentions légales</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link_backend" href="{{path('contact')}}">Nous contacter</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </footer>

            <!-- JQuery -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <!-- Bootstrap tooltips -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
            <!-- Bootstrap core JavaScript -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
            <!-- MDB core JavaScript -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/js/mdb.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html></head></html>
