{% extends 'base.html.twig' %}

{% block title %}{{ tag.name }}{% endblock %}

{% block content %}

<h1 class="font-weight-bold text-uppercase">{{ tag.name }}</h1>

<section class="d-flex">

    <section class="mt-5 col-8">

        <h2 class="text-center font-weight-bold mb-5">Liste des annonces avec ce tag</h2>

        {# Je boucle pour afficher toutes les annonces qui ont ce tag #}
        {% for post in tag.posts %}

            {# Si le type des posts est annonce ET si son status est UNBLOCKED, alors tu les affiches. #}
            {% if post.type == "Annonce" and post.status.code == "UNBLOCKED" %}

                <article>
                    <div class="title-card p-1">
                        <h3 class="font-weight-bold">{{ post.title }}</h3>
                    </div>

                    <div
                        class="d-flex">
                        {# Picture 1 de préférence #}
                        <img class="mr-3 mb-3" src="https://via.placeholder.com/260x200" alt="picture1">

                        <div>
                            <div>
                                <p>
                                    {# truncate permet de réduire la taille du contenu du contenu de l'article et ajouter "..." après #}
                                    {{ post.description|truncate(200, true) }}
                                </p>
                            </div>
                            <div>
                                <a href="{{ path('ad_post_show', {'id': post.id }) }}" class="btn btn-light border border-dark rounded-0 font-weight-bold">
                                    Lire la suite
                                </a>
                                {# Pour les paramètres de onclick, si le status du post est == a BLOCKED alors le param = UNBLOCKED #}
                                {% if is_granted('ROLE_USER_ADMIN') %}
                                    <button
                                        type="button" class="btn btn-warning" onclick="handleStatusButton(this,{{post.id}},{{post.status.code == 'BLOCKED' ? " 'UNBLOCKED' " : " 'BLOCKED' "}})">
                                        {# Si le code du status du post est == a BLOCKED alors on ecrit Débloquer dans le bouton #}
                                        {{post.status.code == "BLOCKED" ? "Débloquer" : "Bloquer"}}
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="metadata mb-3 d-flex justify-content-between">
                        <div
                            class="d-flex justify-content-start">
                            {# Boucle pour afficher les TAGS correspondants à l'ANNONCE #}
                            {% for tag in post.tags %}
                                <a href="{{ path('tag_show', {'id': tag.id }) }}" class="font-weight-bold btn btn-light border border-dark rounded-0 mr-2">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                        <span class="font-italic text-muted">
                            Publié le
                            {{ post.createdAt | date('d/m/Y à H:i') }}
                            par
                            <a class="text-dark font-weight-bold" href="{{path('user_show', {'id': post.user.id }) }}">{{ post.user }}</a>
                        </span>
                    </div>

                </article>
            {% endif %}

        {% endfor %}
    </section>

    <section class="mt-5 col-4 ">

        <h2 class="text-center font-weight-bold">Liste des utilisateurs avec ce tag</span></h2>

        {# Je boucle pour afficher tous les users qui ont ce tag #}
        {% for user in tag.users %}

                {# Si le status de l'utilisateur est UNBLOCKED, alors tu les affiches. #}
                {% if user.status.code == "UNBLOCKED" %}

                    <article class="mx-3">

                        <div class="d-flex flex-row">

                                <div class="mask-2 mr-3">
                                    <img src="{{ asset(picture_upload_path ~ (user.avatar ?: 'marvel.jpg')) }}" class="profil-avatar-2 rounded-circle">
                                </div>

                                <div class="d-flex flex-column">
                                    <h5 class="font-weight-bold mr-3">
                                        {{ user.username }}

                                    </h5>
                                    <p>
                                        {% for job in user.jobs %}
                                            {{ job.name }}
                                        {% endfor %}</p>
                                </div>

                        </div>

                        <div class="d-flex justify-content-end mt-0">
                            <a href="{{ path('user_show', {'id': user.id }) }}" class="font-weight-bold btn btn-light border border-dark rounded-0 ">Voir le profil</a>
                        </div>

                    </article>
                    
                {% endif %}

        {% endfor %}

    </section>

</section>

<a class="text-dark mt-3" href="{{ path('ad_post')}}">Revenir à la liste des annonces</a>

{% endblock %}