{% extends 'base_backend.html.twig' %}

{% block title %}Administration
{% endblock %}
{% block content %}

    <h1>Les articles</h1>
    <button href="{{path ('backend_advicePostNew')}}" class="btn btn-primary d-block" role="button"><i class="fas fa-plus"> </i> Ajouter un article</button>
    
   
        {% for post in posts %}
         
                    <h3>{{post.title}}</h3>
                
                    <p>{{post.description}}</p>
                
                    {#<a href="{{path ('backend_advicePostEdit', {'id': advicePost.id})}}">Voir</a>#}
                    <a href="{{path ('backend_advicePostEdit', {'id': post.id})}}">Editer</a>
                    {# pour avoir la fonction supprimer, ne pas mettre de bouton mais directement l'include de la fonction delete #}
                    {{include('backend/post/_delete.html.twig')}}
                </td>
            </tr>
        {% endfor %}
        <button href="{{path ('backend_advicePostNew')}}" class="btn btn-primary d-block" role="button"><i class="fas fa-plus"> </i> Ajouter un article</button>
   
{% endblock %}
