{% extends 'base.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}

    <img class="profil-avatar rounded-circle border border-dark" src="https://i.pravatar.cc/200?img=3" alt="">

    <div class="profil-card text-center border border-dark mx-5 pt-5 d-none d-lg-block">

        <div class="pt-5">
            <h1 class="font-weight-bold">{{ user.username }}</h1>
        </div>

        <p><span class="font-weight-bold">Adresse email :</span> {{ user.email }}</p>

        <p><span class="font-weight-bold">Je suis :</span></p>

        <p><span class="font-weight-bold">Présentation :</span></p>

        <p class="mx-5">{{ user.description }}</p>

        <div class="d-flex justify-content-start ml-5 py-3 font-italic">
            <p>Membre depuis le {{ user.createdAt | date('d/m/Y à H:i') }}</p>
        </div>

    </div>



{% endblock %}
